ALTER TABLE staff_profiles ADD COLUMN IF NOT EXISTS category TEXT CHECK (category IN ('binary', 'forex', 'crypto'));
ALTER TABLE staff_profiles ADD COLUMN IF NOT EXISTS role TEXT CHECK (role IN ('leader', 'member'));
ALTER TABLE staff_profiles ADD COLUMN IF NOT EXISTS team_id UUID;
ALTER TABLE staff_profiles ADD COLUMN IF NOT EXISTS onboarding_completed BOOLEAN DEFAULT FALSE;
ALTER TABLE staff_profiles ADD COLUMN IF NOT EXISTS agreement_signed BOOLEAN DEFAULT FALSE;
ALTER TABLE staff_profiles ADD COLUMN IF NOT EXISTS signed_at TIMESTAMP WITH TIME ZONE;

CREATE TABLE IF NOT EXISTS staff_teams (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    category TEXT UNIQUE NOT NULL CHECK (category IN ('binary', 'forex', 'crypto')),
    leader_id UUID REFERENCES staff_profiles(id),
    member_count INTEGER DEFAULT 1,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_staff_category ON staff_profiles(category);
